<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1><%= title %></h1>
    <p>Nous Sommes Les Devs Du Groupe 5 </p>
    <h3>MERCI DE VOTRE ATTENTION !</h3>
</body>
</html>
